<div class="container">
  <h1 style="margin-top: 40px;">Post 一覧</h1>
  <hr>
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card" style="margin-right: 10px;">
      <img
        src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the
          card's content.
        </p>
        <a href="#!" class="btn btn-primary">Update</a>
        <a href="#!" class="btn btn-primary">Delete</a>
      </div>
    </div>
    <div class="card" style="margin-right: 10px;">
      <img
        src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the
          card's content.
        </p>
        <a href="#!" class="btn btn-primary">Update</a>
        <a href="#!" class="btn btn-primary">Delete</a>
      </div>
    </div>
    <div class="card" style="margin-right: 10px;">
      <img
        src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the
          card's content.
        </p>
        <a href="#!" class="btn btn-primary">Update</a>
        <a href="#!" class="btn btn-primary">Delete</a>
      </div>
    </div>
  </div>
</div>