<div class="container">
  <h1 style="margin-top: 40px;">Post 投稿</h1>
  <hr>
  <br>
  <div class="col-md-6">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Title" aria-label="Title"
        aria-describedby="basic-addon1" />
    </div>

    <div class="form-outline">
      <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
      <label class="form-label" for="textAreaExample">description</label>
    </div>
    <br>
    <label class="form-label" for="customFile">Default file input example</label>
    <input type="file" class="form-control" id="customFile" />
    <br>
    <button type="button" class="btn btn-info">Submit</button>
  </div>
</div>