<div class="container">
  <h1 style="margin-top: 40px;">Post 投稿</h1>
  <hr>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Title" aria-label="Title"
      aria-describedby="basic-addon1" />
  </div>

  <div class="form-outline">
  <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
  <label class="form-label" for="textAreaExample">Contents</label>
</div>
</div>