/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .post-container {
   height: 150vh;
 }


 .card {
   height: 500px;
   width: 400px;
   margin: 15px;
 }

 .card-img-top {
   height: 50%;
 }

 .card-text {
   height: 60%;
 }

 .top-contents {
   width: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60px;
   margin-top: 40px;
   padding-top: 15px;
 }

 .new-post-btn {
   color: aliceblue;
 }

 .bottom-contents {
   width: auto;
   text-align: right;
 }

 .user-form {
   padding-top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .form-group {
   margin-bottom: 30px;
   height: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .form-text-wrap {
   margin-right: 20px;
 }

 .form-text {
   font-size: 18px;
 }

 .input-birth-wrap {
   height: 25px;
   display: flex;
   justify-content: center;
 }

 .user-name {
   color: #999;
   margin-left: 8px;
 }

 .detail-title {
   margin-top: 40px;
 }

 .detail-contents {
   margin-top: 20px;
   width: auto;
 }

 .comments-box {
   text-align: left;
 }

 .comment-list {
   margin-top: 20px;
 }

 .list-group-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .destroy-comment {
   text-decoration: none;
   color: #333;
 }

 .tweet-top-content {
   margin-top: 40px;
 }